<!doctype html>
<html>
<!-- Copyright (C) Microsoft Corporation. All rights reserved. -->
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <title>Arkadium's Texas Hold'em</title>
    <style>
        html,
        body {
            padding: 0;
            border: 0;
            margin: 0;
            height: 100%;
        }
    </style>
    <script type="text/javascript" src="/msn_live/AdManager.js"></script>
    <script language="javascript" type="text/javascript" src="/js/zoneadwrapper.js"></script>
</head>

<body>

<div id="gamePlace" style="height:100%;"></div>
<script src="/build/pixi.js?d0ddbcd33e8eb00696db"></script>
<script src="/build/src.js?d0ddbcd33e8eb00696db"></script>

</body>
</html>
